@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   }
body{
    font-family: 'Poppins', sans-serif;
}

h1{
    padding-top: 10px;
    padding-bottom: 18px;
    font-size: 40px;
color: #f42f26;
    
}
reloj{
    padding-top: 10px;
    padding-bottom: 18px;
    font-size: 100px;
    color:;
}

.header {
    background-color: #f42f26;
    display: flex;
    align-items: center;
    min-height: 50vh;
    padding: 80px 0 0 0;
   }